.logement-details {
  width: 100%;
  margin-bottom: 20px;

  h1 {
    font-size: 2rem;

    font-weight: 500;
    font-family: Montserrat;
    color: #ff6060; /* Rouge du thème */
    margin-top: 20px;
  }

  p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.1rem;
    color: #555; /* Gris pour le texte secondaire */
  }

  .tags {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 25px;

    span {
      font-weight: 700;
      font-family: Montserrat;
      font-size: 14px;
      background-color: #ff6060;
      color: white;
      padding: 5px 10px;
      border-radius: 12px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  .log__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .host {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    .host__item {
      display: flex;
      flex-direction: row;
      gap: 20px;

      img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        margin-right: 10px;
      }

      p {
        font-size: 1rem;
        color: #ff6060; /* Couleur de l’hôte en rouge */
      }
    }

    @media (max-width: 767px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
    }
  }

  .rating {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
  }
}

.collapse-container {
  display: flex;
  justify-content: space-between;

  .collapse {
    width: 45%; /* Pour avoir deux collapses côte à côte */
  }
}

/* Style du carousel */
.carousel {
  position: relative;
  margin-bottom: 20px;

  img {
    width: 100%;
    border-radius: 10px;
  }

  .arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }

  .arrow-button.left {
    left: 10px;
  }

  .arrow-button.right {
    right: 10px;
  }
}
@media (max-width: 768px) {
  main {
    padding: 10px;
  }

  .logement-details {
    h1 {
      width: 100%;
      font-size: 1.2rem;
      margin-top: 10px;
    }

    p {
      font-size: 0.9rem;
    }

    .tags {
      gap: 5px;
    }

    .rating .star {
      font-size: 1.2rem;
    }
  }

  .collapse-container {
    flex-direction: column;
    margin-top: 20px;
    .collapse {
      width: calc(100% - 20px);
    }
  }
}
