.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  width: 100%;

  &__logo {
    width: 210px;
    height: 68px;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;

    &__item {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 24px;
      color: black;
      list-style: none;
      cursor: pointer;
      text-decoration: none;

      &--active {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    margin: 1rem;

    &__logo {
      width: 145px;
      height: 47px;
    }

    &__nav {
      column-gap: 2rem;

      &__item {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 375px) {
  .header {
    &__logo {
      max-width: 80px;
      height: auto;
      width: auto;
    }

    &__nav {
      column-gap: 0.5rem;
    }
  }
}
