.home {
  .logements-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  .card {
    img {
      width: 100%;
      height: auto;
    }

    h2 {
      font-size: 1.2rem;
      margin-top: 10px;
    }
  }
}
